#CanvasDiv
{
	overflow-y: scroll;
	overflow-x: scroll;
	min-height: 1000px;
	min-width: 1500px;
	max-height: 1000px;
	max-width: 1500px;
	border-width: 2px;
	border-style: solid;
	float: left;
}

#CondrolsDiv
{
	width: 1500px;
	float: left;
}

input[type="checkbox"]
{
    width: 30px;
    height: 30px;
}

.LabelText
{
	font-size: x-large;
	width: 230px;
	display: inline-block;
}

.TopButton
{
	font-size: x-large;
	width: 4%;
	display: inline-block;	
}

.TopShownButton
{
	font-size: x-large;
	width: 7%;
	display: inline-block;
}

.TopHiddenButton
{
	font-size: x-large;
	width: 7%;
	display: inline-block;
	visibility: hidden;
}

.StitchInfoButton
{
	font-size: x-large;
	width: 25%;
	display: inline-block;	
}

#StitchInfoDiv
{
	width: 30%;
	float: right;
}

#TipsList
{
	list-style-type: square;
}